<div class="col-lg-4">
    <div data-toggle="sticky" data-sticky-offset="80" data-negative-margin=".card-profile-cover">
        <div class="card card-profile border-0">
            <div class="card-profile-cover"></div>
            <a href="{{path('user_show', {'id': user.id}) }}" class="mx-auto">
                {% if user.imageName is not null %}
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.email }}" class="card-profile-image avatar rounded-circle shadow hover-shadow-lg">
                {% else %}
                <img src="{{ asset('img/default-user-picture.jpg') }}" alt="{{ user.email }}" class="card-profile-image avatar rounded-circle shadow hover-shadow-lg">
                {% endif %}

            </a>
            <div class="card-body p-3 pt-0 text-center">
                <a href="{{path('user_show', {'id': user.id}) }}">
                    <h5 class="mb-0">{{ user.firstname }}</h5>
                </a>
                <span class="d-block text-muted mb-3">{{ user.zipCode }}</span>
                <div class="avatar-group hover-avatar-ungroup mb-3">
                    {% for dog in user.dogs %}
                    <a href="#">
                        <img src="{{ vich_uploader_asset(dog, 'imageFile') }}" class="avatar rounded-circle" alt="{{dog.name}}" data-toggle="tooltip" data-placement="bottom" title="{{dog.name}}">
                    </a>
                    {% endfor %}
                </div>
                <div class="actions d-flex justify-content-between mt-3 pt-3 px-5 delimiter-top">
                    <a href="{{path('user_show', {'id': user.id}) }}" class="action-item mx-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>