{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
{# <div class="row">
            <div class="col-6 offset-3">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
    
                    <div class="card">
                        <div class="card-body bg-light">
                            <h1 class="h3 mb-3 font-weight-normal text-center">Log In</h1>
                            <div class="form-group">
                                <label class="sr-only" for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                            </div>
    
                            <div class="form-group">
                                <label class="sr-only" for="inputPassword">Password</label>
                                <input class="form-control" id="inputPassword" name="password" placeholder="Password" required type="password">
                            </div>
    
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}


<div class="main-content">
    <section class="min-vh-100 d-flex align-items-center">
        <div class="bg-img-holder top-0 right-0 col-lg-6 col-xl-8 zindex-100 d-none d-lg-block" data-bg-position="center" data-bg-size="cover">
            <img alt="Dog Army" src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg">
        </div>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-7 col-lg-6 col-xl-4 mx-auto ml-lg-0">
                    <div class="px-4 px-lg-6">
                        <div>
                            <div class="mb-5 text-center">
                                <h6 class="h3">Connexion</h6>
                                <p class="text-muted mb-0">Vous devez être connecté pour continuer.</p>
                            </div>
                            <span class="clearfix"></span>
                            <form method="POST" role="form">
                                <div class="form-group">
                                    <label class="form-control-label">Adresse e-mail</label>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" id="input-email" name="email" placeholder="nom@exemple.com" type="email" tabindex="1">
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <div class="d-flex align-items-center justify-content-between">

                                        <div>
                                            <label class="form-control-label">Mot de passe</label>
                                        </div>
                                        <div class="mb-2">
                                            <a class="small text-muted" href="#!" tabindex="5">Mot de passe oublié ?</a>
                                        </div>
                                    </div>
                                    <div class="input-group input-group-merge">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-key"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" id="input-password" name="password" placeholder="Mot de passe" type="password" tabindex="2">
                                        <div class="input-group-append">
                                            <span class="input-group-text" onclick="showPassword()">
                                                <i class="fa fa-eye" id="show-password"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4">
                                    <input class="btn btn-block btn-primary" type="submit" value="Connexion" tabindex="3"></div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </form>
                            <div class="mt-4 text-center">
                                <small>Pas encore inscrit ?</small>
                                <a class="small font-weight-bold" href="#" tabindex="4">Inscription</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html
    
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                             #}

{# <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Log in
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div> #}


{% block javascripts %}
<script src="{{ asset('js/login/login.js') }}"></script>
{% endblock %}