{% extends 'account/index.html.twig' %}

{% block title %}Mes demandes d'aide{% endblock %}

{% block content %}
<div class="d-flex justify-content-between">
    <h1 class="d-inline-block">Demandes d'aide</h1>
    {% if sittings %}

    <a class="btn btn-primary mb-3" href="{{ path('sitting_new') }}" role="button">Créer une demande</a>
    {% endif %}
</div>

{% for sitting in sittings %}

{% include "sitting/sittings.html.twig" %}

{% else %}
<div class="jumbotron">
    {% if userHasNoDogs %}
    <p class="lead">Vous devez ajouter un chien à votre compte afin de demander de l'aide aux autres utilisateurs.</p>
    <p class="txt-black">Ne vous en faites pas, cela ne prendra qu'une minute.</p>
    <a class="btn btn-primary" href="{{ path('dog_new') }}" role="button">Ajouter mon chien</a>
    {% else %}
    <p class="lead">Ici, vous pouvez demander de l'aide aux autres membres et avec un peu de chance, l'un d'eux pourra vous venir en aide !</p>
    <a class="btn btn-primary" href="{{ path('sitting_new') }}" role="button">Créer une demande</a>
    {% endif %}

</div>
{% endfor %}



{% endblock %}

{% block javascripts %}
<script src="{{ asset('libs/autosize/autosize.min.js') }}"></script>
    {{ parent() }}
{% endblock %}