{% set form = formObject.createView %}
{{ form_start(form, {'action': path('message_index', { 'sittingId': sitting.id })} ) }}

<div class="media media-comment align-items-center">
    {% if app.user.imageName is not null %}
    <img alt="Image placeholder" class="avatar avatar-sm rounded-circle shadow mr-2 d-none d-sm-block" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
    {% else %}
    <img alt="Image placeholder" class="avatar avatar-sm rounded-circle shadow mr-2 d-none d-sm-block" src="{{ asset('img/default-user-picture.jpg') }}">
    {% endif %}
    <div class="media-body">
        {{ form_errors(form.description) }}
        <div class="form-group mb-0">
            <div class="input-group input-group-merge">
                {{ form_widget(form.description) }}
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" type="button">
                        <span class="far fa-paper-plane"></span>
                    </button>
                </div>
            </div>
        </div>
        
    </div>
</div>
{{ form_end(form) }}