{% extends 'profile/layout.html.twig' %}

{% block title %}New Message{% endblock %}

{% block content %}
<h2 class="mb-5">Proposer votre aide à {{ user.email }} </h2>

<div class="card hover-shadow-lg">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <div class=" ml-3 w-100">
                <div class="row">
                    <div class="col-md-4 pl-0 sitting-times">
                        <span class="text-muted"><i class="far fa-clock mr-2"></i>{{ sitting.startTime ? sitting.startTime|localizeddate('long', 'none', app.request.locale , null , 'EEEE d MMMM HH:mm') : '' }}</span>
                    </div>
                    <div class="col-md-4 text-center sitting-times">
                        <i class="fas fa-angle-double-right"></i>
                    </div>
                    <div class="col-md-4 text-right sitting-times">
                        <span class="text-muted"><i <i class="fas fa-clock mx-2"></i>{{ sitting.endTime ? sitting.endTime|localizeddate('long', 'none', app.request.locale , null , 'EEEE d MMMM HH:mm') : '' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row pb-2 mb-3 border-bottom">
            <div class="col-sm-2">
                <div class="avatar-group">
                    {% for dog in sitting.dogs %}
                    <img alt="Photo chien" src="{{ asset('uploads/dog-pictures/' ~ dog.image) }}" class="avatar  rounded-circle">
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-7">
                <div>
                    <span class="d-block tinytext">Créée le {{ sitting.createdAt ? sitting.createdAt|localizeddate('long', 'none', app.request.locale , null , 'd MMMM Y ') : '' }}</span>
                    <small class="h6 text-sm font-weight-bold">Description:</small>
                    <p class="text-sm lh-160 mb-0 d-inline-block">{{ sitting.description }}</p>
                </div>
            </div>
            <div class="col-sm-3 text-right">
                <div>
                    <a href="#" class="text-sm font-weight-bold d-block">3 pending</a>
                </div>
            </div>
        </div>

        <!-- Commentaires -->
        <div class="mb-3 comments">
            {% for message in sitting.messages %}
            <div class="media media-comment">
                <a href="{{ path('user_show', {'id' : message.user.id} ) }}">
                    <img alt="Image placeholder" class="avatar rounded-circle shadow mr-4" src="{{ vich_uploader_asset(message.user, 'imageFile') }}">
                </a>
                <div class="media-body">
                    <div class="media-comment-bubble left-top">
                        <h6 class="mt-0">{{ message.user.firstname }}</h6>
                        <p class="text-sm lh-160">{{ message.description }}</p>
                        <div class="icon-actions">
                            <a href="#" class="love active">
                                <i class="fas fa-heart"></i>
                                <span class="text-muted">10 likes</span>
                            </a>
                            <a href="#">
                                <i class="fas fa-comment"></i>
                                <span class="text-muted">1 reply</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
        {% include "message/_form.html.twig" %}
    </div>
    {% endblock %}