{% extends 'account/index.html.twig' %}

{% block title %}Mon/Mes chien(s){% endblock %}
{% block stylesheets %}
<style>
    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.375rem - 1px);
        border-top-right-radius: calc(.375rem - 1px);
    }
</style>
{% endblock %}
{% block content %}

<h1>Dog index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Gender</th>
            <th>BirthDate</th>
            <th>Details</th>
            <th>Instagram</th>
            <th>HouseTrained</th>
            <th>Description</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for dog in dogs %}
        <tr>
            <td><img class="card-img-top" src="{{ vich_uploader_asset(dog, 'imageFile') }}" alt="Card image cap" /></td>
            <td>{{ dog.name }}</td>
            <td>{{ dog.gender }}</td>
            <td>{{ dog.birthDate ? dog.birthDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ dog.details ? dog.details|join(', ') : '' }}</td>
            <td>{{ dog.instagram }}</td>
            <td>{{ dog.houseTrained ? dog.houseTrained|join(', ') : '' }}</td>
            <td>{{ dog.description }}</td>
            <td>
                <a href="{{ path('dog_show', {'id': dog.id}) }}">show</a>
                <a href="{{ path('dog_edit', {'id': dog.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('dog_new') }}">Create new</a>

{# {% for dog in dogs %}
            <div class="card">
                <img class="card-img-top" src="{{ vich_uploader_asset(dog, 'imageFile') }}" alt="Card image cap" style="width=5%"/>
                <div class="card-body">
                <h5 class="card-title">{{ dog.name }} {{ dog.birthDate ? dog.birthDate|date('Y-m-d H:i:s') : '' }}</h5>
                <p class="card-text">{{ dog.gender }}</p>
                <p class="card-text">{{ dog.details ? dog.details|join(', ') : '' }}</p>
                <p class="card-text">{{ dog.houseTrained ? dog.houseTrained|join(', ') : '' }}</p>
                <p class="card-text">{{ dog.description }}</p>
                <p class="card-text"><small class="text-muted">{{ dog.instagram }}<</small></p>
                <a href="{{ path('dog_show', {'id': dog.id}) }}">show</a>
                <a href="{{ path('dog_edit', {'id': dog.id}) }}">edit</a>
            </div>
        {% else %}  
            <p>Waouf waaouf !</p>
        {% endfor %} #}



{% endblock %}
