{# {% extends 'account/index.html.twig' %}

{% block title %}Mon/Mes chien(s){% endblock %}

{% block content %}

<h1>Dog</h1>
    <div class="card">
        <img class="card-img-top"  src="{{ vich_uploader_asset(dog, 'imageFile') }}" alt="" width=15%/>
        <div class="card-body">
            <h5 class="card-title">{{ dog.name }}</h5>
            <p class="card-text">{{ dog.gender }}, {{ dog.birthDate ? dog.birthDate|date('Y-m-d H:i:s') : '' }}</p>
            <p class="card-text">{{ dog.details ? dog.details|join(', ') : '' }}</p>
            <p class="card-text">{{ dog.description }}</p>
        </div>

        </div>
            <p class="card-text">{{ dog.gender }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <a href="{{ path('dog_edit', {'id': dog.id}) }}">edit</a>
                {{ include('dog/_delete_form.html.twig') }}
            </small>
        </div>
    </div>
           
{% endblock %} #}


{% extends 'account/index.html.twig' %}

{% block title %}Mon/Mes chien(s){% endblock %}
{% block stylesheets %}
<style>
    .card-img-top {
        width: auto;
        height: 400px;
        border-top-left-radius: calc(.375rem - 1px);
        border-top-right-radius: calc(.375rem - 1px);
    }
</style>
{% endblock %}
{% block content %}

<h1>Dog</h1>

<div class="card">
    <img class="card-img-top" src="{{ vich_uploader_asset(dog, 'imageFile') }}" alt="" />
    <div class="card-body">
        <h5 class="card-title">{{ dog.name }}</h5>
        <p class="card-text">{{ dog.gender }}</p>
        <p class="card-text">{{ dog.birthDate ? dog.birthDate|date('Y-m-d H:i:s') : '' }}</p>
        <p class="card-text">{{ dog.details ? dog.details|join(', ') : '' }}</p>
        <p class="card-text">{{ dog.houseTrained ? dog.houseTrained|join(', ') : '' }}</p>
        <p class="card-text">{{ dog.description }}</p>
        <p class="card-text">{{ dog.gender }}</p>
        <p class="card-text">{{ dog.instagram }}</p>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a class="btn btn-default" href="{{ path('dog_edit', {'id': dog.id}) }}">edit</a>
            <a class="btn btn-default" href="{{ path('dog_index') }}">back to list</a>
            {{ include('dog/_delete_form.html.twig') }}
        </div>
    </div>
</div>


{% endblock %}
