{% extends 'profile/layout.html.twig' %}

{% block title %}
{% if user.id == app.user.id %}
Votre profil public
{% else %}
Profil de {{user.firstname}}
{% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('libs/fancybox/jquery.fancybox.min.css') }}">
{% endblock %}


{% block content %}

<!-- Sittings -->
{% for sitting in user.sittings %}
{% include "sitting/sittings.html.twig" %}
{% endfor %}



<!-- User -->

<!-- Dogs -->
{% for dog in user.dogs %}
{% include "dog/dogs.html.twig" %}
{% endfor %}




<table class="table">
    <tbody>
        <tr>
            <th>Picture</th>
            <td>
                {# {% if user.imageName %} #}
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.email }}" />
                {# {% endif %} #}
            </td>

        </tr>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>HomeType</th>
            <td>
                <input type="checkbox" name="maison" {% if user.homeType[0] is defined %} checked {% endif %}>
                <label for="maison">Maison</label>
                <input type="checkbox" name="appart" {% if user.homeType[1] is defined %} checked {% endif %}>
                <label for="appart">Appartement</label>
            </td>
        </tr>
    </tbody>
</table>

<a href="{{ path('search') }}">back to list</a>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('libs/autosize/autosize.min.js') }}"></script>
{{ parent() }}
<script src="{{ asset('libs/fancybox/jquery.fancybox.min.js') }}"></script>
{% endblock %}