{% extends 'profile/layout.html.twig' %}

{% block title %}
{% if user.id == app.user.id %}
Votre profil public
{% else %}
Profil de {{user.firstname}}
{% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('libs/fancybox/jquery.fancybox.min.css') }}">
{% endblock %}


{% block content %}

<!-- Sittings -->
{% for sitting in user.sittings %}
{% include "sitting/sittings.html.twig" %}
{% endfor %}



<!-- User -->

<!-- Dogs -->
{% for dog in user.dogs %}
{% include "dog/dogs.html.twig" %}
{% endfor %}


<a class="btn btn-primary mb-3" href="{{ path('search') }}">Retour à la liste des membres</a>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('libs/autosize/autosize.min.js') }}"></script>
{{ parent() }}
<script src="{{ asset('libs/fancybox/jquery.fancybox.min.js') }}"></script>
{% endblock %}