{% extends 'profile/layout.html.twig' %}

{% block title %}Temp
{% endblock %}


{% block content %}

<!-- Sittings -->
{% for sitting in user.sittings %}
    
<div class="card hover-shadow-lg hover-translate-y-n10">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <div class=" ml-3 w-100">
                <div class="row">
                    <div class="col-md-4 pl-0 sitting-times">
                        <span class="text-muted"><i class="far fa-clock mr-2"></i>{{ sitting.startTime ? sitting.startTime|localizeddate('long', 'none', app.request.locale , null , 'EEEE d MMMM HH:mm') : '' }}</span>
                    </div>
                    <div class="col-md-4 text-center sitting-times">
                        <i class="fas fa-angle-double-right"></i>
                    </div>
                    <div class="col-md-4 text-right sitting-times">
                        <span class="text-muted"><i <i class="fas fa-clock mx-2"></i>{{ sitting.endTime ? sitting.endTime|localizeddate('long', 'none', app.request.locale , null , 'EEEE d MMMM HH:mm') : '' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <div class="avatar-group">
                    {% for dog in sitting.dogs %}
                    <img alt="Photo chien" src="{{ asset('uploads/dog-pictures/' ~ dog.image) }}" class="avatar  rounded-circle">
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-7">
                <div>
                    <span class="d-block tinytext">Créée le {{ sitting.createdAt ? sitting.createdAt|localizeddate('long', 'none', app.request.locale , null , 'd MMMM Y ') : '' }}</span>
                    <small class="h6 text-sm font-weight-bold">Description:</small>
                    <p class="text-sm lh-160 mb-0 d-inline-block">{{ sitting.description }}</p>
                </div>
            </div>
            <div class="col-sm-3 text-right">
                <div>
                    <a href="#" class="text-sm font-weight-bold d-block">3 pending</a>
                </div>
                <button type="submit" class="btn btn-primary py-2 px-1 mt-2">Proposer mon aide</button>
            </div>
        </div>
    </div>
</div>


{% endfor %}




<!-- User -->
<div class="card">
    <div class="card-header pt-4 pb-2">
        <div class="d-flex align-items-center">
            <a href="#" class="avatar rounded-circle shadow">
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.email }}">
            </a>
            <div class="avatar-content">
                <h6 class="mb-0">Bettie Mavis</h6>
                <small class="d-block text-muted"><i class="fas fa-clock mr-2"></i>3 hrs ago</small>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>Personal profiles are the perfect way for you to grab their attention and persuade recruiters to continue reading your CV because you’re telling them from the off exactly why they should hire you. Of course, you’ll need to know how to write an effective statement first, but we’ll get on to that in a bit.</p>
        <!-- Badges -->
        <div class="d-lg-flex mt-4">
            <a href="#" class="d-flex align-items-center mr-lg-5 mb-3 mb-lg-0">
                <div>
                    <div class="icon icon-sm bg-gradient-success text-white rounded-circle icon-shape">
                        <i class="fas fa-user-ninja"></i>
                    </div>
                </div>
                <div class="pl-3">
                    <span class="h6">10 Skills</span>
                </div>
            </a>
            <a href="#" class="d-flex align-items-center mr-lg-5 mb-3 mb-lg-0">
                <div>
                    <div class="icon icon-sm bg-gradient-warning text-white rounded-circle icon-shape">
                        <i class="fas fa-user-friends"></i>
                    </div>
                </div>
                <div class="pl-3">
                    <span class="h6">57 Endorsements</span>
                </div>
            </a>
            <a href="#" class="d-flex align-items-center mr-lg-5 mb-3 mb-lg-0">
                <div>
                    <div class="icon icon-sm bg-gradient-primary text-white rounded-circle icon-shape">
                        <i class="fas fa-award"></i>
                    </div>
                </div>
                <div class="pl-3">
                    <span class="h6">7 Awards</span>
                </div>
            </a>
        </div>
        <div class="pt-5 mt-5 delimiter-top">
            <!-- Title -->
            <h6 class="mb-4">
                <i class="fas fa-file-signature mr-2"></i>Experience
            </h6>
            <!-- Timeline -->
            <div class="timeline timeline-one-side" data-timeline-content="axis">
                <div class="timeline-block">
                    <span class="timeline-step border-primary"></span>
                    <div class="timeline-content">
                        <small class="text-muted font-weight-bold">2016 - present</small>
                        <h6>Web Developer at Webpixels</h6>
                        <p class="text-sm lh-160">When we strive to become better than we are everything around us becomes better too. This is a wider card with supporting text below.</p>
                        <div>
                            <span class="badge badge-soft-primary mr-2 mb-2">Bootstrap</span>
                            <span class="badge badge-soft-primary mr-2 mb-2">UI/UX</span>
                            <span class="badge badge-soft-primary mr-2 mb-2">Market Strategy</span>
                        </div>
                    </div>
                </div>
                <div class="timeline-block">
                    <span class="timeline-step timeline-step-sm border-warning"></span>
                    <div class="timeline-content">
                        <small class="text-muted font-weight-bold">2014 - 2016</small>
                        <h6>Front Designer at Google</h6>
                        <p class="text-sm lh-160">When we strive to become better than we are everything around us becomes better too. This is a wider card with supporting text below.</p>
                        <div>
                            <span class="badge badge-soft-warning mr-2 mb-2">HTML5</span>
                            <span class="badge badge-soft-warning mr-2 mb-2">CSS3</span>
                            <span class="badge badge-soft-warning mr-2 mb-2">Responsive Design</span>
                        </div>
                    </div>
                </div>
                <div class="timeline-block">
                    <span class="timeline-step timeline-step-sm border-info"></span>
                    <div class="timeline-content">
                        <small class="text-muted font-weight-bold">2013 - 2014</small>
                        <h6>Internship at Apple</h6>
                        <p class="text-sm lh-160">When we strive to become better than we are everything around us becomes better too. This is a wider card with supporting text below.</p>
                        <div>
                            <span class="badge badge-soft-info mr-2 mb-2">Product Design</span>
                            <span class="badge badge-soft-info mr-2 mb-2">Development</span>
                            <span class="badge badge-soft-info mr-2 mb-2">Market Strategy</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5 mt-5 delimiter-top">
            <!-- Title -->
            <h6>
                <i class="fas fa-user-n mr-2 mb-4"></i>Skills
            </h6>
            <!-- Skil badges -->
            <div>
                <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Web Design</a>
                <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Development</a>
                <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">UI/UX</a>
                <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Bootstrap 4</a>
                <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">User Experience</a>
                <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Psychology</a>
                <a href="#" class="badge badge-lg badge-soft-primary d-inline-block mr-2 mb-2">Photoshop</a>
            </div>
        </div>
        <div class="pt-5 mt-5 delimiter-top">
            <!-- Title -->
            <h6 class="mb-4">
                <i class="fas fa-user-friends mr-2"></i>Endorsements
            </h6>
            <!-- Rating cards -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card bg-secondary">
                        <div class="p-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="#" class="avatar rounded-circle d-inline-block">
                                        <img alt="Image placeholder" src="{{ vich_uploader_asset(user, 'imageFile') }}" class="">
                                    </a>
                                </div>
                                <div class="pl-3">
                                    <a href="#" class="h6 text-sm">Betty Mavis</a><span class="static-rating static-rating-sm d-block"><i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-secondary">
                        <div class="p-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="#" class="avatar rounded-circle d-inline-block">
                                        <img alt="Image placeholder" src="{{ vich_uploader_asset(user, 'imageFile') }}" class="">
                                    </a>
                                </div>
                                <div class="pl-3">
                                    <a href="#" class="h6 text-sm">Heather Wright</a><span class="static-rating static-rating-sm d-block"><i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-secondary">
                        <div class="p-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="#" class="avatar rounded-circle d-inline-block">
                                        <img alt="Image placeholder" src="{{ vich_uploader_asset(user, 'imageFile') }}" class="">
                                    </a>
                                </div>
                                <div class="pl-3">
                                    <a href="#" class="h6 text-sm">John Sullivan</a><span class="static-rating static-rating-sm d-block"><i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card bg-secondary">
                        <div class="p-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="#" class="avatar rounded-circle d-inline-block">
                                        <img alt="Image placeholder" src="{{ vich_uploader_asset(user, 'imageFile') }}"class="">
                                    </a>
                                </div>
                                <div class="pl-3">
                                    <a href="#" class="h6 text-sm">George Squier</a><span class="static-rating static-rating-sm d-block"><i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star"></i>
                                        <i class="star fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-secondary">
                        <div class="p-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="#" class="avatar rounded-circle d-inline-block">
                                        <img alt="Image placeholder" src="{{ vich_uploader_asset(user, 'imageFile') }}"class="">
                                    </a>
                                </div>
                                <div class="pl-3">
                                    <a href="#" class="h6 text-sm">Jesse Stevens</a><span class="static-rating static-rating-sm d-block"><i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-secondary">
                        <div class="p-3">
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="#" class="avatar rounded-circle d-inline-block">
                                        <img alt="Image placeholder" src="{{ vich_uploader_asset(user, 'imageFile') }}"class="">
                                    </a>
                                </div>
                                <div class="pl-3">
                                    <a href="#" class="h6 text-sm">Monroe Parker</a><span class="static-rating static-rating-sm d-block"><i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i>
                                        <i class="star fas fa-star voted"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dogs -->
<div class="card mt-4">
    <div class="card-header pt-4 pb-2">
        <div class="d-flex align-items-center">
            <a href="#" class="avatar rounded-circle shadow">
                <img alt="Image placeholder" src="{{ vich_uploader_asset(user, 'imageFile') }}"
            </a>
            <div class="avatar-content">
                <h6 class="mb-0">Bettie Mavis</h6>
                <small class="d-block text-muted"><i class="fas fa-clock mr-2"></i>3 hrs ago</small>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>Personal profiles are the perfect way for you to grab their attention and persuade recruiters to continue reading your CV because you’re telling them from the off exactly why they should hire you. Of course, you’ll need to know how to write an effective statement first, but we’ll get on to that in a bit.</p>
        <a href="{{ vich_uploader_asset(user, 'imageFile') }}" data-fancybox="">
            <img alt="Image placeholder" src="{{ vich_uploader_asset(user, 'imageFile') }}"class="img-fluid rounded">
        </a>
        <div class="row align-items-center my-3 pb-3 border-bottom">
            <div class="col-sm-6">
                <div class="icon-actions">
                    <a href="#" class="love active">
                        <i class="fas fa-heart"></i>
                        <span class="text-muted">150 likes</span>
                    </a>
                    <a href="#">
                        <i class="fas fa-comment"></i>
                        <span class="text-muted">20 comments</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 d-none d-sm-block">
                <div class="d-flex align-items-center justify-content-sm-end">
                    <small class="pr-2 font-weight-bold">Seen by</small>
                    
                    <small class="pl-2 font-weight-bold">and 30+ more</small>
                </div>
            </div>
        </div>
        <!-- Comments -->
        <div class="mb-3">
            <div class="media media-comment">
                <img alt="Image placeholder" class="rounded-circle shadow mr-4" src="{{ vich_uploader_asset(user, 'imageFile') }}"style="width: 64px;">
                <div class="media-body">
                    <div class="media-comment-bubble left-top">
                        <h6 class="mt-0">Alexis Ren</h6>
                        <p class="text-sm lh-160">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <div class="icon-actions">
                            <a href="#" class="love active">
                                <i class="fas fa-heart"></i>
                                <span class="text-muted">10 likes</span>
                            </a>
                            <a href="#">
                                <i class="fas fa-comment"></i>
                                <span class="text-muted">1 reply</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media media-comment">
                <img alt="Image placeholder" class="rounded-circle shadow mr-4" src="{{ vich_uploader_asset(user, 'imageFile') }}"style="width: 64px;">
                <div class="media-body">
                    <div class="media-comment-bubble left-top">
                        <h6 class="mt-0">Tom Cruise</h6>
                        <p class="text-sm lh-160">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                        <div class="icon-actions">
                            <a href="#" class="love active">
                                <i class="fas fa-heart"></i>
                                <span class="text-muted">20 likes</span>
                            </a>
                            <a href="#">
                                <i class="fas fa-comment"></i>
                                <span class="text-muted">3 replies</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media media-comment align-items-center">
                <img alt="Image placeholder" class="avatar rounded-circle shadow mr-4" src="{{ vich_uploader_asset(user, 'imageFile') }}">
                <div class="media-body">
                    <form>
                        <div class="form-group mb-0">
                            <div class="input-group input-group-merge">
                                <textarea class="form-control" data-toggle="autosize" placeholder="Write your comment" rows="1" style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 50px;"></textarea>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <span class="far fa-paper-plane"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<table class="table">
    <tbody>
        <tr>
            <th>Picture</th>
            <td>
                {# {% if user.imageName %} #}
                <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.email }}" />
                {# {% endif %} #}
            </td>

        </tr>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>HomeType</th>
            <td>
                <input type="checkbox" name="maison" {% if user.homeType[0] is defined %} checked {% endif %}>
                <label for="maison">Maison</label>
                <input type="checkbox" name="appart" {% if user.homeType[1] is defined %} checked {% endif %}>
                <label for="appart">Appartement</label>
            </td>
        </tr>
    </tbody>
</table>

<a href="{{ path('user_index') }}">back to list</a>

<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
{% endblock %}